<a routerLink="/thong-so-may"></a>
<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <span nz-icon nzType="home" nzTheme="outline"></span>
        <span>Trang chủ</span>
      </li>

      <li nz-submenu nzTitle="Quản lý thông số" nzIcon="control">
        <ul>

          <li nz-menu-item>Thông số máy
            <a routerLink="/thong-so-may"></a>
          </li>
          <li nz-menu-item>Thông số kỹ thuật
            <a routerLink="/thong-so-ky-thuat"></a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Quản lý kịch bản" nzIcon="setting">
        <ul>

          <li nz-menu-item>Danh sách kịch bản
            <a routerLink="/quan-ly-kich-ban"></a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Sản xuất hàng ngày" nzIcon="folder-open">
        <ul>
          <li nz-menu-item>Thông tin</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <p>công ty cổ phần bóng đèn và phích nước rạng đông</p>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Quản lý thông số</nz-breadcrumb-item>
        <nz-breadcrumb-item>Thông số máy</nz-breadcrumb-item>
        <!--------------------------------------------------- template Chi tiết thông số  -------------------------------------------------------------------->
        <nz-modal [(nzVisible)]="isVisibleMiddle1" nzTitle="Chi tiết thông số " nzCentered
          (nzOnCancel)="handleCancelMiddle1()" (nzOnOk)="handleOkMiddle1()">
          <ng-container *nzModalContent>
            <form action="">
            </form>
            <nz-table #nzTable [nzData]="searchResults" nzTableLayout="fixed">
              <thead>
                <tr>
                  <th nzWidth="60px"></th>
                  <th>Thông số</th>
                  <th>Mã thông số</th>
                  <th>Mô tả</th>
                  <th>Trạng thái</th>
                  <th>Tùy chọn</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of searchResults">
                  <tr>
                    <td [nzExpand]="expandSet.has(data.idThongSo)" (nzExpandChange)="onExpandChange(data.idThongSo, $event)"></td>
                    <td><input type="text" nz-input placeholder="search" [(ngModel)]="data.tenThongSo"[ngModelOptions]="{standalone:true}" /></td>
                    <td><input type="text" nz-input placeholder="search" [(ngModel)]="data.maThongSo"[ngModelOptions]="{standalone:true}" /></td>
                    <td><input type="text" nz-input placeholder="search" [(ngModel)]="data.moTa"[ngModelOptions]="{standalone:true}" /></td>
                    <td><input type="text" nz-input placeholder="search" [(ngModel)]="data.status"[ngModelOptions]="{standalone:true}" /></td>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
          </ng-container>
        </nz-modal>
        <!------------------------------------------------------ popup thêm mới thông số  -------------------------------------------------------->
        <button nz-button nzType="primary" (click)="showModalMiddle()" style="position: absolute; right: 200px;">Thêm mới
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
        <nz-modal [(nzVisible)]="isVisibleMiddle" nzTitle="Thêm mới thông số" nzCentered
          (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()" class="custom-modal">
          <ng-container *nzModalContent>
            <form action="">
              <input nz-input placeholder="Mã máy" nzSize="default" style="width: 40%" />
              <input nz-input placeholder="Loại máy" nzSize="default"
                style="width: 40%; right: 20px; position: absolute;" />
                <button type="plus" (click)="insertListOfData()">Them moi</button>
            </form>
            <nz-table #nzTable [nzData]="listOfData" nzTableLayout="fixed" style="width: 100%;">
              <thead>
                <tr>
                  <th nzWidth="60px">STT</th>
                  <th>Thông số</th>
                  <th>Mã Thông Số</th>
                  <th>Mô tả</th>
                  <th>Tùy chọn</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of listOfData; let i = index">
                  <tr>
                    <td>{{i+1}}</td>
                    <td><input type="text" nz-input placeholder="search" [(ngModel)]="data.tenThongSo"[ngModelOptions]="{standalone:true}" /></td>
                    <td><input type="text" nz-input placeholder="search" [(ngModel)]="data.maThongSo"[ngModelOptions]="{standalone:true}" /></td>
                    <td><input type="text" nz-input placeholder="search" [(ngModel)]="data.tenThongSo"[ngModelOptions]="{standalone:true}" /></td>
                    <td><button (click)="removeItemListOfData()">Xoá</button></td>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
          </ng-container>
        </nz-modal>
        <!-- --------------------------------------------------------------------Tìm kiếm   ----------------------------------------------------------------------------->
      </nz-breadcrumb>
      <div class="inner-content">
        <nz-table #fixedTable [nzData]="searchResults" [nzScroll]="{ x: '1150px', y: '850px' }">
          <thead>
            <tr>
              <th nzLeft>STT</th>
              <th nzLeft>
                <!-- Tìm kiếm theo mã thông số -->
                Mã thông số
                <div class="timkiem">
                  <input type="text" nz-input placeholder="search" [(ngModel)]="maThongSo"
                    [ngModelOptions]="{standalone:true}" />
                  <button nz-button nzType="primary" class="button-timkiem" nzSearch><span nz-icon nzType="search"
                      (click)="timKiemThongSo()"></span></button>
                </div>
              </th>
              <th>
                <!-- Tìm kiếm theo tên thông số -->
                Tên thông số
                <div class="timkiem">
                  <input type="text" nz-input placeholder="search" [(ngModel)]="tenThongSo"
                    [ngModelOptions]="{standalone:true}" />
                  <button nz-button nzType="primary" class="button-timkiem" nzSearch><span nz-icon nzType="search"
                      (click)="timKiemThongSo()"></span></button>
                </div>
              </th>
              <th>
                <!-- Tìm kiếm theo ngày tạo -->
                Ngày tạo
                <div class="timkiem">
                  <input type="date" nz-input placeholder="search" [(ngModel)]="ngayTao"
                    [ngModelOptions]="{standalone:true}" />
                  <button nz-button nzType="primary" class="button-timkiem" nzSearch><span nz-icon nzType="search"
                      (click)="timKiemThongSo()"></span></button>
                </div>
              </th>
              <th>
                <!-- Tìm kiếm theo ngày cập nhật -->
                Ngày cập nhật
                <div class="timkiem">
                  <input type="date" nz-input placeholder="search" [(ngModel)]="timeUpdate"
                    [ngModelOptions]="{standalone:true}" />
                  <button nz-button nzType="primary" class="button-timkiem" nzSearch><span nz-icon nzType="search"
                      (click)="timKiemThongSo()"></span></button>
                </div>
              </th>
              <th>
                <!-- Tìm kiếm theo tài khoản -->
                Cập nhật bởi
                <div class="timkiem">
                  <input type="text" nz-input placeholder="search" [(ngModel)]="updateBy"
                    [ngModelOptions]="{standalone:true}" />
                  <button nz-button nzType="primary" class="button-timkiem" nzSearch><span nz-icon nzType="search"
                      (click)="timKiemThongSo()"></span></button>
                </div>
              </th>
              <th>
                <!-- Tìm kiếm theo trạng thái -->
                Trạng thái
                <div class="timkiem">
                  <input type="text" nz-input placeholder="search" [(ngModel)]="status"
                    [ngModelOptions]="{standalone:true}" />
                  <button nz-button nzType="primary" class="button-timkiem" nzSearch><span nz-icon nzType="search"
                      (click)="timKiemThongSo()"></span></button>
                </div>
              </th>
              <th nzRight>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of searchResults; let i = index">
              <td nzLeft>{{ i+1 }}</td> <!--STT-->
              <td nzLeft>{{ data.maThongSo }}</td><!--code_parameter-->
              <td>{{ data.tenThongSo }}</td><!--name_parameter-->
              <td>{{ data.ngayTao }}</td><!--date-->
              <td>{{ data.timeUpdate }}</td><!--date-->
              <td>{{ data.updateBy }}</td><!--username-->
              <td>{{ data.status }}</td><!--name_parameter-->
              <td nzRight>
                <!-- //------------------------- xem chi tiet thong so ---------------------------------- -->
                <button class="btn-parameter-edit">
                  <span nz-icon nzType="tool" nzTheme="outline" style="font-size: 30px;" (click)="showModalMiddle1(data.maThongSo)"></span>
                </button>
                <button class="btn-parameter-delete">
                  <span nz-icon nzType="delete" nzTheme="outline" style="font-size: 30px;"
                    (click)="delThongSo(data.maThongSo)"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <button nz-button [nzSize]="size" nzType="primary" style="margin-left: 1500px;margin-top: 15px;">
        Xác nhận
      </button>
    </nz-content>
  </nz-layout>
</nz-layout>